.card{
    display: flex;
}

.img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin-right: 30px;
}

.text{
    display: flex;
    flex-direction: column;
}

.bottom_block{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 15px;
}

.title{
    margin-bottom: 10px;
}

.right_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price{
    font-size: 36px;
    font-weight: 700;
}