#backend
/Backend/FoodDelivery/FoodDelivery.API/*.env
/Backend/*.vs
/Backend/FoodDelivery/bin
/backend/FoodDelivery/obj
/backend/FoodDelivery/*.idea
/backend/FoodDelivery/FoodDelivery.API/bin
/backend/FoodDelivery/FoodDelivery.API/obj
/backend/FoodDelivery/FoodDelivery.Core/bin
/backend/FoodDelivery/FoodDelivery.Core/obj
/backend/FoodDelivery/FoodDelivery.DataAccess/bin
/backend/FoodDelivery/FoodDelivery.DataAccess/obj

#frontend
/frontend/*.env
# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
.idea
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
