.promotion_slider{
    display: flex;
    justify-content: space-between;
}

.promotion_slider img{
    width: 520px;
    height: 320px;
    object-fit: cover;
}

.left_block{
    display: flex;
    flex-direction: column;
}

.left_block span{
    margin-top: auto;
    margin-bottom: 30px;
}

.left_block button{
    width: 210px;
    height: 85px;
    padding: 0;
}