.header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: fixed;
}

.links{
    width: 365px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: var(--color_black);
}