.header{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: none;
    transition: .3s all;
    z-index: 3;
}

.header_active{
    background-color: var(--color_white);
    box-shadow: var(--block_shadow);
}

.header_fixed{
    height: 68px;
}

.content_block{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.links{
    width: 365px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: var(--color_black);
}

.header .basket_button{
    height: 46px;
    background-color: var(--color_white);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    padding: 5px 15px;
    border-radius: 5px;
}

.header .basket_button_active{
    background-color: var(--color_orange);
}

.basket_button svg{
    margin-right: 12px;
}