.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 256px;
    height: 256px;
    margin-bottom: 30px;
}

.title, .description, .bottom_block{
    width: 100%;
}

.title{
    margin-bottom: 10px;
}

.description{
    margin-bottom: 30px;
}

.bottom_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

