@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Roboto", sans-serif;
    --color_black: #000000;
    --color_white: #ffffff;
    --color_grey: #B9B9B9;
}

h1{
    font-size: 64px;
    font-weight: 100;
}

span, a, button, .text, .text_small, .text_upper{
    font-weight: 400;
}

h2, h3, h4, .text_bold{
    font-weight: 700;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 28px;
}

span, button, .text, .text_bold{
    font-size: 24px;
}

.text_upper{
    font-size: 16px;
    text-transform: uppercase;
}

.text_small{
    font-size: 14px;
}
