@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Roboto", sans-serif;
    --color_black: #000000;
    --color_black_light: #2E2E2E;
    --color_white: #FFFFFF;
    --color_grey: #B9B9B9;
    --color_grey_light: #F4F4F4;
    --color_grey_dark: #8E8E8D;
    --color_red_dark: #FF0000;
    --color_red_light: #FEAAAA;
    --color_red: #FF6B6B;
    --color_orange: #FCC204;
    --color_orange_light: #FCDE74;
    --block_shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

h1{
    font-size: 64px;
    font-weight: 100;
    text-transform: uppercase;
}

span, a, button, .text, .text_small, .text_upper{
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, span, a, p{
    white-space: pre-wrap;
}

h2, h3, h4{
    font-weight: 700;
    text-transform: uppercase;
}

.text_bold{
    font-weight: 700;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 28px;
}

span, button, .text, .text_bold{
    font-size: 24px;
}

.text_upper{
    font-size: 16px;
    text-transform: uppercase;
}

.text_small{
    font-size: 14px;
}
