.card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--color_grey);
    height: 130px;
}

.card svg{
    color: var(--color_grey);
    width: 36px;
    height: 36px;
}

.top{
    display: flex;
    gap: 5px;
    align-items: center;
}

.title{
    color: var(--color_grey_dark);
}